@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: black #e5e7eb;
}

.custom-thin-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.custom-thin-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 99px;
}

.custom-thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 99px;
  border: 3px solid transparent;
  background-clip: content-box; 
}

.custom-thin-scrollbar::-webkit-scrollbar-thumb:hover {
  border: 0px solid transparent;
}